adelaide.lml-development.live,
brisbane.lml-development.live,
castlemaine.lml-development.live,
gigs.lml-development.live,
goldfields.lml-development.live,
melbourne.lml-development.live,
perth.lml-development.live,
stkilda.lml-development.live,
sydney.lml-development.live {
	log
	root * /var/www
	encode zstd gzip
	tls internal
	reverse_proxy localhost:5173
}
