/*
 * To avoid tailwindcss and bootstrap collision, The revert tailwind selector essentially nukes
 * all the existing tailwind styles
 */
.revert-tailwind {
  all: initial;
}

.revert-tailwind > * {
  all: revert;
}

.gig-explorer {
  /** original styles - maybe not all of them are in use right now?  */

  .navbar-nav {
    margin-left: auto;
    list-style: none;
  }

  li {
    list-style: none;
    margin-left: 1rem;
  }

  .nav-link {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .date-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    font-family: "Montserrat", sans-serif;
  }

  .date-slider button {
    border: none;
    background: none;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
  }

  .date-slider span {
    margin: 0 1rem;
  }

  /* Importing bootstrap into the #explorer container only as they tend to collide with tailwindcss and do not have any easy prefixing I could find */
  @import "bootstrap/scss/bootstrap.scss";
  /* Part of the aforementioned hack to ensure that all the vars get imported correctly for fonts etc */
  > div {
    @extend body;
    @extend [data-bs-theme="light"];
  }
}
